# Database
POSTGRES_DB=campuscarry
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
